.Navbar_main{
    /* background-color: red; */
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1.5px solid rgba(228, 228, 228, 0.704);
}
.Navbar_main_arrange_width{
    /* background-color: rgb(138, 165, 0); */
    width: 95%;
    height: 80%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
}


.Navbar_main_open_drawer_responsive{
    /* background-color: darkgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#nav_logo{
    width: 95%;
    height: 60%;
}

.Navbar_main_left_logo{
    /* background-color: rgb(244, 216, 0); */
    width: 10%;
    height: 100%;
    min-width: 160px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.Navbar_main_mid_search{
    /* background-color: rgb(255, 214, 196); */
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Navbar_main_mid_search_div{
    /* background-color: rgb(46, 176, 46); */
    width: 90%;
    height: 35px;
    position: relative;
    display: flex;
    align-items: center;
}
.search_icon_svg{
    color: rgb(151, 149, 149);
    width: 18px;
    position: absolute;
    left: 15px;
}
.nav_product_search{
    background-color: rgb(255, 255, 255);
    width: 100%;
    border: none;
    height: 37px;
    border-radius: 7px;
    padding-left: 45px;
    box-shadow: 0px 0px 10px rgb(219, 219, 219);
}
.Navbar_main_rigth_login_and_cart{
    /* background-color: rgb(71, 148, 184); */
    width: 15%;
    min-width: 130px;
    max-width: 160px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.Navbar_main_rigth_cart{
    /* background-color: rgb(17, 108, 37); */
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cart_icon_nav{
    color: rgb(80, 80, 80);
    width: 22px;
    height: 20px;
    margin-right: 14px;
}
.Navbar_main_rigth_login{
    /* background-color: rgb(162, 169, 26); */
    width: 80px;
    height: 38px;
}
.nav_login_btn{
    background: #A8794D;
    width: 100%;
    height: 38px;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 500;
}
.open_drawer_responsive_svg{
    color: rgb(80, 80, 80);
}
.close_drawer_responsive_svg{
    color: rgb(80, 80, 80);
    
}




/* ..............  */
.Navbar_main_responsive_search_box_arrange_width{
    /* background-color: forestgreen; */
    width: 100%;
    height: 45px;
    display: none;
    justify-content: center;
    align-items: end;
}
.Navbar_main_responsive_search_box{
    /* background-color: royalblue; */
    width: 95%;
    max-width: 1440px;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search_icon_svg_responsive{
    color: rgb(151, 149, 149);
    width: 18px;
    position: absolute;
    left: 15px;
}
.nav_product_search_responsive{
    background-color: rgb(255, 255, 255);
    width: 100%;
    border: 1px solid rgb(185, 185, 185);
    height: 37px;
    border-radius: 7px;
    padding-left: 45px;
    /* box-shadow: 0px 0px 10px rgb(219, 219, 219); */
}
/* ..............  */





/* responsive */

@media screen and (max-width: 600px){
    .Navbar_main{
        border: none;
    }
    .Navbar_main_mid_search{
        /* background-color: red; */
        display: none;
    }
    .Navbar_main_arrange_width{
        /* background-color: darkcyan; */
        justify-content: space-between;
    }
    .Navbar_main_open_drawer_responsive{
        display: flex;
        margin-right: 10px;
        border: none;
        background-color: white;
        cursor: pointer;
    }
    .Navbar_main_rigth_cart{
        /* background-color: red; */
        display: none;
    }
    .Navbar_main_responsive_search_box_arrange_width{
        display: flex;
    }
}